{% extends "base.html" %}


{% block title %}
    {{ block.super }}
{% endblock title %}


{% block body %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Saiba como evoluir</h1>
      <div class="row center">
        <h5 class="header col s12 light">Cadastre-se e receba feedbacks sinceros das pessoas.</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Criar conta</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">account_box</i></h2>
            <h5 class="center">Crie uma conta</h5>

            <p class="light">Para receber feedback você precisa ter uma conta no site. Preencha seu perfil, compartilhe e receba feedback!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Receba feedbacks</h5>

            <p class="light">Qualquer pessoa pode dar feedbacks para você. Todos os feedbacks são anônimos e isso aumenta as chances de que sejam sinceros.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">email</i></h2>
            <h5 class="center">Receba notificações</h5>

            <p class="light">Você será notificado instantaneamente a cada novo feedback.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
{% endblock body %}


