{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
	{{ block.super }} - Criação da conta
{% endblock title %}


{% block body %}
	<div class="container">
		<div class="row">
			<h5>Criação de conta</h5>
			<div class="row">
			    <form class="col s12">
			      <div class="row">
			        <div class="input-field col s6">
			          {{ form.first_name|add_class:"validate" }}
			          <label for="id_first_name">Nome</label>
			        </div>
			        <div class="input-field col s6">
			          {{ form.last_name|add_class:"validate" }}
			          <label for="id_last_name">Sobrenome</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          {{ form.username|add_class:"validate" }}
			          <label for="id_username">Usuário</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          {{ form.email|add_class:"validate" }}
			          <label for="id_email">E-mail</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          {{ form.password|add_class:"validate" }}
			          <label for="id_password">Senha</label>
			        </div>
			      </div>
			      <button class="btn waves-effect waves-light" type="submit">Salvar
				    <i class="material-icons right">send</i>
				  </button>
			    </form>
			</div>
		</div>
	</div>
{% endblock body %}