{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}Feedback App{% endblock title %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Feedback App</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Criar conta</a></li>
        <li><a href="#">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Criar conta</a></li>
        <li><a href="#">Login</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  {% block body %}
    
  {% endblock body %}

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Feedback App</h5>
          <p class="grey-text text-lighten-4">O Feedback App nasceu com o propósito de fazer as pessoas evoluir. As vezes os amigos ou familiares querem dar um feedback, mas se sentem constrangidos ou receosos em magoar a outra pessoa. Com o Feedback App os feedbacks são registrados de forma totalmente anônima, assim você receberá feedbacks sinceros e verdadeiros.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Saiba mais</h5>
          <ul>
            <li><a class="white-text" href="#!">Recursos</a></li>
            <li><a class="white-text" href="#!">Benefícios</a></li>
            <li><a class="white-text" href="#!">Sobre nós</a></li>
            <li><a class="white-text" href="#!">FAQ</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contato</h5>
          <p class="white-text">contato@feedbackapp.com<br>
          +55 99 99999-9999
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Shoio</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
